<!doctype html>
<html>
  <head>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Jane Heather Dee" %></title>
    <%= partial 'partials/metatags' %>
    <%= partial 'partials/favicon' %>

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic|Karla' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :application %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <%= javascript_include_tag :application %>
  </body>
</html>
