<div class="tab-pane" id="works" role="tabpanel">
  <div class='content white animated fadeIn'>
    <p><em>These are some of the projects I've worked on:</em></p>
    <!-- <ul class='filter list-reset'>
      <li>All</li>
      <li>Front-End</li>
      <li>Ruby on Rails</li>
    </ul> -->
    <div class='grid'>
      <div class="card grid-item">
        <%= image_tag 'works/blackdog_325.png', class: "card-img-top img-fluid", alt: "Black Dog Consultants" %>
        <div class="card-block">
          <h5 class="card-title">Blackdog Consultants</h5>
          <a href='http://www.blackdog-consultants.com/' class="card-text" target='_blank'>blackdog-consultants.com</a>
          <p class="card-text"><small>web design &amp; front-end, <br>static site web development</small></p>
          <a href="#" class="action-link" data-toggle="modal" data-target="#blackdogConsultants">Read more</a>
        </div>
      </div>
      <div class="card grid-item">
        <%= image_tag 'works/gatherph_325.png', class: "card-img-top img-fluid", alt: "Gather PH" %>
        <div class="card-block">
          <h5 class="card-title">Gather PH</h5>
          <a href='http://www.gatherph.com/' class="card-text" target='_blank'>gatherph.com</a>
          <p class="card-text"><small>front-end development, <br>e-commerce</small></p>
          <a href="#" class="action-link" data-toggle="modal" data-target="#gatherPh">Read more</a>
        </div>
      </div>
      <div class="card grid-item">
        <%= image_tag 'works/goldenhorsemedical_325.png', class: "card-img-top img-fluid", alt: "Golden Horse Medical Supplies" %>
        <div class="card-block">
          <h5 class="card-title smaller">Golden Horse Medical Supplies</h5>
          <a href='http://www.goldenhorsemedicalsupplies.com/' class="card-text smaller" target='_blank'>goldenhorsemedicalsupplies.com</a>
          <p class="card-text"><small>front-end development, <br>e-commerce</small></p>
          <a href="#" class="action-link" data-toggle="modal" data-target="#goldenHorseMedical">Read more</a>
        </div>
      </div>
    </div>
  </div>
  <%= partial 'modals/blackdog-consultants' %>
  <%= partial 'modals/gatherph' %>
  <%= partial 'modals/goldenhorsemedical' %>
</div>