---
title: Jane Heather Dee
---

<%= partial 'partials/navbar' %>
<section class='main text-center'>
  <div class='container'>
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel">
      <h1 class='title'>Jane Heather Dee</h1>
      <p class='subtitle'>Front-End + Ruby on Rails Web Developer,<br>
      <small>Licensed Financial Advisor for Sun Life Financial</small></p>
      Currently based in Manila, Philippines</p>
      <%= partial 'partials/social-icons' %>
      </div>
      <%= partial 'partials/about-me' %>
      <%= partial 'partials/resume' %>
      <div class="tab-pane" id="works" role="tabpanel">
        <p><em>In progress.. it's coming soon!</em></p>
        In the meantime, you can check out:<br>
        <br>
        <%= partial 'partials/social-icons' %>
      </div>
      <%= partial 'partials/contact' %>
    </div>
  </div>
</section>