---
title: Jane Heather Dee
---

<%= partial 'partials/navbar' %>
<section class='main text-center'>
  <div class='container'>
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel">
      <h1 class='sr-only sr-only-focusable text-hide'>Jane Heather Dee</h1>
      <div class='avatar-container'>
        <%= image_tag 'avatar.png', :class=>'animated fadeIn img-fluid center-block' %>
      </div>
      <p class='subtitle'>Front-End + Ruby on Rails Web Developer,<br>
      <small>Creative Entrepreneur &amp; Licensed Financial Advisor</small></p>
      <p>Currently based in Manila, Philippines</p>
      <%= partial 'partials/social-icons' %>
      </div>
      <%= partial 'partials/about-me' %>
      <%= partial 'partials/resume' %>
      <%= partial 'partials/works' %>
      <%= partial 'partials/contact' %>
    </div>
  </div>
</section>